<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/html">-->
<head lang="en">
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="stylesheet" href="/TestJs/css/myIndex.css">
    <script src="/TestJs/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/TestJs/js/vendor/jquery-2.1.1.min.js"></script>
    <!--<script src="/TestJs/js/myIndex.js"></script>-->
</head>
<body>
<nav>
    <ul class="titleLine">
        <li class="titleA"> Project name</li>
        <li class="titleB">
            <a href="#home">Home</a>
        </li>
        <li class="titleB">
            <a href="#about">About</a>
        </li>
        <li class="titleB">
            <a href="#contact">Contact</a>
            <dl>
                <dt>AAAAAAAAAAAAAA</dt>
                <dt>BBBBBBBBBBBBBB</dt>
                <dt>CCCCCCCCCCCCCC</dt>
            </dl>
        </li>
        <li class="titleB">
            <span class="Darrow"></span>
            <a href="#dropdown">Dropdown</a>
        </li>
    </ul>
</nav>
</body>
</html>