
nav {
    display: inline-block;
    border: 1px solid #505255;
    border-bottom: 1px solid #282C2F;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*margin:50px;*/
    -webkit-box-shadow: 1px 1px 3px #292929;
    -moz-box-shadow: 1px 1px 3px #292929;
    background-color: #444;
    text-align:center;
    margin: 0 auto;
    width: 80%;
    line-height: 0;
    position: relative;

}

ul.titleLine {
    list-style-type: none;
    background-color: #444;
    padding: 0;
    /*margin-left: 10px;*/
    /*margin-right: 1px;*/
    /*padding-left: 10px;*/
    /*padding-top: 1px;*/
    /*padding-bottom: 1px;*/
}

li {
    display: block;
    /*display:block*/
    float: left;
    color: #b3b3b3;
    border-right: 1px solid #2E3235;
    position: relative;
    list-style: none;
    border-right: 1px solid #2E3235;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

li a {
    color: #b3b3b3;
    text-decoration: none;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    /*border-right: 1px solid #999E9F;*/
}

li > a {
    position: relative;
}

li a:hover {
    color: #fff;
    /*background-color: #000;*/
}

li.titleA {
    color: #b3b3b3;
    font-size: 18px;
    margin-left: 15px;
    text-align: center;
}

li.titleA:hover{
    color: #fff;
}

li.titleB {
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    /*background-color: #fff;*/
}

/*li.titleB:hover {
    background-color: #000;
}*/

dl {
    display: none;
    margin-top: -25px;
    padding-top: 15px;
    height: 10px;
}

.arrow {
    margin: 0 auto;
    margin-top: -5px;
    display: block;
    width: 10px;
    height: 10px;
    background: #222222;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.Darrow {
    float: right;
    /*margin: 18px 10px 1px 1px;*/
    /*margin-left: 0px;*/
    /* margin-bottom: -10px;
     margin-top: 20px;*/
    /*background-color: #fff;*/
    margin-left: 3px;
    border-width: 5px;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
    /*text-shadow: 0px -1px 0px #fff;*/
    -webkit-box-shadow: 0px -1px 0px #000;
    -moz-box-shadow: 0px -1px 0px #000;
}